{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container my-2">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-6 offset-lg-1 mb-2 background-grey curve">
            <br>
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
            {% if bag_items %}
            <table class="table table-sm table-borderless">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Product Info</th>
                        <th scope="col"></th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${% if item.product.has_sizes %}{{ item.finalprice }}{% else %}{{ item.product.price }}{% endif %}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <select id="q-select" class="form-control form-control-sm" name="quantity" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    <option value="none" selected disabled hidden>{{ item.quantity }}</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                                {% if item.product.has_sizes %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">$
                                {% if item.product.has_sizes %}
                                    {{ item.finalprice | calc_subtotal:item.quantity }}
                                {% else %}
                                    {{ item.product.price | calc_subtotal:item.quantity }} 
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4 col-xl-4 mx-lg-2 mb-2 background-grey curve" style="height: 350px;">
            <br>
            <h2 class="logo-font p-2">Total</h2>
            <hr>
            <table class="table table-borderless">
                <tr>
                    <th><strong>Sub-Total</strong></th>
                    <th>${{ total|floatformat:2 }}</th>
                </tr> 
                <tr>
                    <td><strong>Delivery</strong></td>
                    <td>${{ delivery|floatformat:2 }}</td>
                </tr>
            </table>
            <h4 class="mt-4 p-2"><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                </p>
            {% endif %}
            <a href="" class="w-100 btn btn-success curve btn-lg mb-4">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        
    </div>

    <div class="row">
        <div class="col-6">
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
    </script>
{% endblock %}