<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %}
    <select id="q-select" class="form-control form-control-sm" name="quantity" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
        <option value="none" selected disabled hidden>{{ item.quantity }}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    {% if item.product.has_sizes %}
        <input type="hidden" name="product_size" value="{{ item.size }}">
    {% endif %}
</form>
<a class="update-link text-info"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>