{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-50">
        <div class="row h-100">
            <div class="mx-auto my-auto">
                <h1 class="text-white display-4 logo-font p-2">
                    Power your work!
                </h1>
                <div class="mx-auto my-5" style="width: 260px;">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3 curve">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container h-50">
        <div class="row">
            <div class="text-white display-4" style="padding: 15px;">
                <h2>About us:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Who We Are?</h5>
                        <p class="card-text">
                            We are a small coffee online shop the specializes selling unique and tasty coffees
                            straight to your door.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What We Sell?</h5>
                        <p class="card-text">We sell a range of amazing coffees, we also sell a range of greate gifts for the developer in your life.</p>
                    </div>
                </div>
              </div>
            <div class="col-lg-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">What Are We Up To?</h5>
                        <p class="card-text">
                            Check out are <a href="{% url 'blog' %}">blog</a> 
                            and/or 
                            <a href="https://www.facebook.com/Coders-Coffee-104392309072613" target="_blank" rel="noopener"
                            aria-label="Visit our Facbook page (opens in a new tab)">Facebook</a> page to keep up with us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
