{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="logo-font text-center">Wishlist</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-lg-10 offset-lg-1">
            <div class="row">
                {% for item in wishitems %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pb-1">
                        <div class="card h-100 border-0">
                            <div class="position-relative">
                                <form class="form" action="{% url 'delete_from_wishlist' item.product.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-lg curve absolute-r"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            {% if item.product.image %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body p-0">
                                <p class="mb-0 mx-1 bold">{{ item.product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <p class="lead mb-0 text-left">$<span id="{{ item.product.sku }}">{{ item.product.price }}</span></p>
                                        {% if item.size %}
                                        <hr class="m-1">
                                        <small>Size: {{ item.size }}grams</small>
                                        <hr class="m-1">
                                        {% else %}
                                        <hr class="m-1">
                                        <small>One Size</small>
                                        <hr class="m-1">
                                        {% endif %}
                                        {% if item.product.get_rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ item.product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 p-0">
                                        <form class="form" action="{% url 'add_to_bag' item.product.id %}" method="POST">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-success curve text-uppercase mt-3" style="width: 100%;" value="Add to Bag">
                                            <input type="hidden" name="quantity" value="1">
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if item.product.has_sizes %}
                        <script type="text/javascript">
                            var size = '{{ item.size }}'
                            var price = '{{ item.product.price }}';
                            var finalprice = price * size;
                            var viewprice = $('#{{ item.product.sku }}');
                            viewprice.empty()
                            viewprice.append(finalprice);
                            console.log(viewprice)
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm curve border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
